body {
  margin: 0;
  min-height: 200vh;
  font-family: sans-serif;
  background-color: #deded5;
  font-family: 'Segoe UI' !important;
}
a, a:hover{
  color:inherit;
}
*{
  box-sizing: border-box;
}
h1, h2,h3{
  font-family: 'Segoe UI' !important;
}
.borderless{
  border:none !important;
}
.link-color, .link-color:hover{
  color:#00ab6b;
}
.outline{
  transition:all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
